@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("PublicSans-Regular.ttf") format("truetype"); /* Google font - self hosted */
}

@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("PublicSans-Bold.ttf") format("truetype"); /* Google font - self hosted */
}
